<html>
	<link href="css/style.css" rel="stylesheet">
<body class="login">
<div class="login-box">
    <h2>Register</h2>
    <form action="">
        <div class="user-box">
            <input type="text" name="" >
            <label>Username</label>
        </div>
		 <div class="user-box">
            <input type="text" name="" >
            <label>Alamat</label>
        </div>
		 <div class="user-box">
            <input type="text" name="" >
            <label>Jabatan</label>
        </div>
		 <div class="user-box">
            <input type="password">
            <label>Password</label>
        </div>
        <div class="user-box">
            <input type="password">
            <label>Konfirmasi Password</label>
        </div>
        
		
  </form>
	<form>
		<center><a href="">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Signup
        </a>
		</center>
	</form>
	
</div>
</body>		
</html>